@{
    ViewData["Title"] = "Twitter Data Statistics";
}

<div class="text-center">
    <div class="card card-1">
        <h4>Total number of tweets</h4>
    </div>
    <div class="card card-1">
        <h4>Average tweets per hour/minute/second</h4>
    </div>
    <div class="card card-1">
        <h4>Top emojis in tweets</h4>
    </div>
    <div class="card card-1">
        <h4>Percent of tweets that contains emojis</h4>
    </div>
    <div class="card card-1">
        <h4>Top hashtags</h4>
    </div>
    <div class="card card-1">
        <h4>Percent of tweets that contain a url</h4>
    </div>
    <div class="card card-1">
        <h4>Percent of tweets that contain a photo url</h4>
    </div>
    <div class="card card-1">
        <h4>Top domains of urls in tweets</h4>
    </div>
</div>
