@{
    ViewData["Title"] = "Twitter Data Statistics";
}

<div class="text-center">
    <h4>Once processing has started, the data on the screen will update every 3 seconds...</h4>
    <div class="card card-1">
        <h5>Total number of tweets</h5>
        <p id="number-of-tweets"></p>
    </div>
    <div class="card card-1">
        <h5>Average tweets</h5>
        <p>(Projected) Hour: <span id="hour"></span></p>
        <p>(Projected) Minute: <span id="minute"></span></p>
        <p>Second: <span id="second"></span></p>
    </div>
    <div class="card card-1">
        <h5>Top emojis in tweets</h5>
        <p id="emoji-list"></p>
    </div>
    <div class="card card-1">
        <h5>% of tweets that contains emojis</h5>
        <p id="emoji-percent"></p>
    </div>
    <div class="card card-1">
        <h5>Top hashtags</h5>
        <p id="hastag-list"></p>
    </div>
    <div class="card card-1">
        <h5>% of tweets that contain a url</h5>
        <p id="url-percent"></p>
    </div>
    <div class="card card-1">
        <h5>% of tweets that contain a photo url</h5>
        <p id="photo-percent"></p>
    </div>
    <div class="card card-1">
        <h5>Top domains of urls in tweets</h5>
        <p id="domains-list"></p>
    </div>
</div>
