@{
    ViewData["Title"] = "Twitter Data Statistics";
}

<div class="text-center">
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
    <div class="card card-1"></div>
</div>
