@{
    ViewData["Title"] = "Twitter Data Statistics";
}

<div class="text-center">
    <h4>Once processing has started, the data on the screen will update every 2 seconds.</h4>
    <div class="card card-1">
        <h4>Total number of tweets</h4>
    </div>
    <div class="card card-1">
        <h5>(Projected) Average tweets per</h5>
        <p>Hour: </p>
        <p>Minute: </p>
        <p>Second: </p>
    </div>
    <div class="card card-1">
        <h5>Top emojis in tweets</h5>
    </div>
    <div class="card card-1">
        <h5>Percent of tweets that contains emojis</h5>
    </div>
    <div class="card card-1">
        <h5>Top hashtags</h5>
    </div>
    <div class="card card-1">
        <h5>Percent of tweets that contain a url</h5>
    </div>
    <div class="card card-1">
        <h5>Percent of tweets that contain a photo url</h5>
    </div>
    <div class="card card-1">
        <h5>Top domains of urls in tweets</h5>
    </div>
</div>
